nav {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: darkgray;
  padding: 0 2rem;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}

img {
  height: 100%;
}
